/* App.css */
.App-content {
  position:relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #303132;
}

video {
  width: 100%;
  height: 100vh;
  object-fit:cover;
  position: fixed;
  top: 0;
  left: 0;
}
.content {
  position: fixed;
  width: 100%;
  height: 100%;
  display:block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


.book-list {
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: bottom;
  margin-bottom: auto;
  margin-top: auto;
  justify-content: center;
  padding-top: 1rem;
}

.book-item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.book-item.selected {
  background-color: #7097a3;
}

.selected-book {
  margin-top: 2rem;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  padding: 7rem;
}


/* BookCard.css */
.book-card {
  position: relative;
  text-align: center;
  border: 2px solid #010101;
  border-radius: 50% 20% / 10% 40%;
  padding: 1rem;
  margin-bottom: 0;
  border-spacing: 0;
  background-color: #3a5150d6;
  margin: auto;
}

/* .book-thumbnail {
  flex: 0 0 120px;
  margin-right: 1rem;
} */
 img {
  float: left;
  padding: 2rem;
 }

.book-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.book-authors {
  font-style: italic;
  color: #666;
  margin-bottom: 0.5rem;
}

.book-description {
 line-height: 1;
  font-size: 10px;
  font-weight: lighter;
  overflow: hidden;
  text-align: center;
  line-break: break-all;
  word-spacing: 0%;
  margin-bottom: auto;
}
